Repository Retty888/bot-assist, changes with the owners that .github/CODEOWNERS names for each.
All owners: @imelnik, @sprutkova, @osorokina, @vlitvin, @gstatsenko, @mmatskevich

docs: formalize documentation plan and audit follow-up
  docs/documentation_audit.md
  docs/documentation_plan.md
Owners: @imelnik, @sprutkova, @osorokina

Add persistent candle storage and integrate with runtime
  src/runtime/botRuntime.ts
  src/storage/candlesStore.ts
  tests/candlesStore.test.ts
Owners: @imelnik, @sprutkova

Redesign operator UI for compact neutral theme
  apps/operator-ui/index.html
  apps/operator-ui/styles.css
Owners: none

Enhance operator UI with signal pipeline controls
  apps/operator-ui/app.js
  apps/operator-ui/index.html
  apps/operator-ui/styles.css
  docs/interface_overhaul_plan.md
  docs/operator-ui-ux-guide.md
  docs/status/mvp-plan-healthcheck.md
Owners: @imelnik, @sprutkova, @osorokina

Refine operator UI list rendering
  apps/operator-ui/app.js
  docs/operator-ui-rendering-contract.md
Owners: @imelnik, @sprutkova, @osorokina

Improve Hyperliquid metadata caching
  docs/operations_runbook.md
  src/trading/hyperliquidTradingBot.ts
  tests/hyperliquidBot.test.ts
Owners: @imelnik, @sprutkova, @osorokina

Optimize trade signal parsing and add benchmarks
  src/trading/tradeSignalParser.ts
  tests/tradeSignalParser.bench.test.ts
  tests/tradeSignalParser.test.ts
Owners: @imelnik, @sprutkova

Refine operator console layout
  apps/operator-ui/app.js
  apps/operator-ui/index.html
  apps/operator-ui/styles.css
Owners: none

.github/CODEOWNERS:

# Hyperliquid Bot ownership map

# Documentation
/docs/ @imelnik @sprutkova @osorokina

# Infrastructure
/infra/ @vlitvin @gstatsenko

# Application runtime and services
/src/ @imelnik @sprutkova
/tests/ @imelnik @sprutkova

# GitHub workflows
/.github/workflows/ @vlitvin @mmatskevich
